.homePageMain{
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20%;
    right: 20%;
    border-radius: 50px;
    box-shadow: 1px 3px 10px #9E9E9E;
    overflow: scroll;
    font-family:"Arial Rounded MT Bold";
    padding: 30px;
}
.title{
    text-align: center;
    margin-top: 40px;
    height: 50px;
    color: gray;
}
.predictionBox{
    margin: 20px;
    border-radius: 40px;
    padding: 5px;
    background-color: #353b48;
}
.prediction{
    color: white;
    margin-left: 50px;
}
.form{
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
}
.loginformtextbox{

}
.inputRow{

    display: grid;
    grid-template-columns: 50% 50%;
}
.inputComponent{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
.label{
    color: gray;
}
.checkButtons{
    display: flex;
    flex-direction: column;
}
.checkButton{
    margin-left: 20px;
    margin-top: 10px;
}
.logoutbutton {
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    background: #40739e;
    border: none;
    color: white;
    font-weight: bolder;
    transition: 0.5s;
    padding: 10px;
    margin-bottom: 50px;
}

.logoutbutton:hover {
    box-shadow: 0px 0px 20px 1px #40739e;
}

@media only screen and (max-width: 1000px) {
    .homePageMain{
        grid-template-columns: 80% 20%;
    }
    .homePageMenu{
        margin-left: 10%;
        width: 70%;
        padding-right: 10%;
        height: 80%;
        margin-top: 5%;
        background-color: white;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: grid;
        border-right: 5px solid #40739e;
        border-radius: 5px;
        border-left-width: 2px;
        grid-template-rows: 25% 25% 25% 25% ;
    }
    .menuItem4,.menuItem3,.menuItem2,.menuItem1{
        font-size: 20px;
        padding-top: 20px;
    }
}