.doctorForm{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
}
.doctorHomeImage{
    position: absolute;
    width: 100px;
    height: 100px;
    top:10px;
    left: 10px;
    border-radius: 200px;
}

.subDoctorHomeForm {
    position: absolute;
    left: 5%;
    bottom: 20px;
    top:20px;
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /*//#1e272e*/
}

.doctorHomeRow{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%
}

.doctorHomeFormTitle {
    color: blue;
    width: 100%;
    text-align: center;
    justify-self: center;
    font-size: 50px;
    /*margin-top: 100px;*/
    letter-spacing: 10px;
    font-family: Roboto;
    margin-bottom: 30px;
}

.loginformError {
    color: red;
    padding-top: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 13px;
    letter-spacing: 5px;
    text-align: center;
}
.doctorTextInputContainer{
    display:grid;
    grid-template-columns: 20% 80%;
}
.doctorTextInputContainer2{
     width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}
.doctorFormLabel{
    width: 100%;
    background: white;
    outline: none;
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    padding: 10px;
    color: gray;
    border-radius: 10px;
    font-size: 15px;
}
.doctorFormTextInput {
    width: 80%;
    background: white;
    outline: none;
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    padding: 10px;
    color: blue;
    border-radius: 10px;
    font-size: 15px;
    border-bottom: 1px solid blue;
    font-family:Roboto;
}

.loginformtextbox {
    width: 100%;
}

.loginformlabels {
    padding-top: 20px;
    width: 100%;
    justify-self: center;
    color: azure;
}

.doctorAddPatientButton {
    margin-top: 40px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    background:blue;
    border: none;
    color: white;
    font-weight: bolder;
    transition: 0.5s;
    padding: 10px;
    cursor: pointer;

}

.doctorAddPatientButton:hover {
    box-shadow: 0px 0px 20px 1px #40739e;
}

.goToDoctorHomeButton{
    color: gray;
    text-align: center;
    margin: 10px;
    padding:5px;
    border-radius: 20px;
    width: 100px;
    /*margin-left: 25%;*/
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 20px 1px  gray;

}

.loginError{
    color: red;
    text-align: center;
}
.adminCheckBoxContainer{
    width: 80%;
    background: white;
    outline: none;
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}
.adminCheckBoxLabel{
    margin-left: 10px;
    color: grey;
    font-size: 15px;
}
@media only screen and (max-width: 1000px) {

    .doctorHomeRow{
        display: flex;
        flex-direction: column;
    }
    .subDoctorHomeForm{
        position: absolute;
        left: 5%;
        bottom: 20px;
        top:400px;
        width: 90%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        /*//#1e272e*/
    }
    .doctorHomeImage{
        position: absolute;
        width: 50px;
        height: 50px;
        top:10px;
        left: 10px;
        border-radius: 200px;
    }
    .doctorHomeFormTitle {
        color: blue;
        width: 100%;
        text-align: center;
        justify-self: center;
        font-size: 20px;
        /*margin-top: 100px;*/
        letter-spacing: 10px;
        font-family: Roboto;
        margin-bottom: 30px;
    }

}